$global-font-family: "Poppins", sans-serif;

body {
    font-family: $global-font-family !important;
}

.my-7-rem {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.btn-sec {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}

.button-sec {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.products {
    .col-md-3 {
        display: flex;
    }
    .card-img-top {
        object-fit: contain;
        height: 250px;
    }
    .card-body {
        border-top: 1px solid var(--bs-border-color-translucent);;
        margin-top: 0.5rem;
    }
    .card-title {
        font-size: 1.125rem;
    }
    .card-subtitle {
        font-size: 1rem;
    }
    .card-text {
        font-size: 0.85rem;
    }
}

.product-sec {
    .product-img {
        width: 100%;
        max-height: 75vh;
        object-fit: contain;
    }
    .product-desc, .category {
        padding-top: 0.75rem;
        font-size: 1.125rem;
    }
    .product-price {
        font-size: 2rem;
        padding-top: 0.75rem;
    }
}
.cart-count {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.cart-icon-sec .feather {
    width: 1.125rem;
    height: 1.125rem;
    stroke-width: 1.75px;
    stroke: gray;
}

.cart-img-section img {
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
}

.calculation {
    padding: 1rem;
    border: 5px solid rgb(211, 211, 211);
}

.calculation .total {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 3px solid rgb(211, 211, 211);
    line-height: 1.2;
    font-weight: 600;
}

.subtotal-section {
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.subtotal-section .title {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 500;
}

.subtotal-section .amount, .subtotal-section .free-shipping {
    font-size: 0.875rem;
    font-weight: 500;
}

.subtotal-section .free-shipping {
    text-decoration: underline;
    font-weight: 400 !important;
}

.checkout-btn {
    padding: 0.875rem 1rem;
}