$global-font-family: "Poppins", sans-serif;

body {
    font-family: $global-font-family !important;
}

.my-7-rem {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.btn-sec {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}

.button-sec {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.products {
    .col-md-3 {
        display: flex;
    }
    .card-img-top {
        object-fit: contain;
        height: 250px;
    }
    .card-body {
        border-top: 1px solid var(--bs-border-color-translucent);;
        margin-top: 0.5rem;
    }
    .card-title {
        font-size: 1.125rem;
    }
    .card-subtitle {
        font-size: 1rem;
    }
    .card-text {
        font-size: 0.85rem;
    }
}