$global-font-family: "Poppins", sans-serif;

body {
    font-family: $global-font-family !important;
}

.my-7-rem {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.btn-sec {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}